* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 100%;
  height: 100%;
  /* background-color: rgb(238, 210, 226); */
  background-color: white;
}
.title {
  color: white;
  font-size: 35px;
  font-family: 'Poppins';
  /* font-style: bold; */
  font-weight: bold;
}
.navbar .title span {
  color: #0f4d6e;
}
.navbar {
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background: linear-gradient(to right, #56abd8, #0f4d6e);
}

h2 {
  color: black;
  opacity: 0.8;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  padding: 5px 1rem;
  margin: 0 10px;
  color: rgb(254, 254, 254);
  position: relative;
}

ul li a::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-top: 2px solid rgb(254, 254, 254);
  border-left: 2px solid rgb(254, 254, 254);
  transition: all 0.4s;
  opacity: 40%;
}

ul li a::after {
  opacity: 40%;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  border-bottom: 2px solid rgb(254, 254, 254);
  border-right: 2px solid rgb(254, 254, 254);
  transition: all 0.4s;
}

ul li a:hover:after,
ul li a:hover::before {
  display: block;
  content: '';
  width: 10%;
  height: 20%;
  transform: rotate(360deg);
}
/* end aeni & rifki */

/* mas Gery */
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQpWrXyWEgRRKroWG5BTIekoh2tygjs5tKWGOtwuOVD7VQBMUQ-Pi3qsVSiGiyt3w5PpQ&usqp=CAU);
  background-size: cover;
  color: white;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 30px;
}
.subinside-text {
  text-align: center;
  padding-top: 5px;
}

main form {
  margin-top: 90px;
  padding-left: 90px;

  font-weight: bold;
  display: flex;
  justify-content: space-around;
  color: #0f4d6e;
}

main input {
  padding: 10px 0px;
  padding-left: 15px;
  width: auto;
  height: 35px;
  margin-bottom: 25px;
  /* padding-left: 30px; */
}

h1 {
  opacity: 0.8;
}

p { 
  opacity: 0.8;
}

.find-job {
  size: 60px;
  /* padding-left: 10px; */
  /* background-color: red; */
}

.locate {
  padding-bottom: 20px;

  /* background-color: gold; */
}

.idsty-type {
  bottom: 0;

  /* background-color: blue; */
}
/* end Gery */

/* Mas Rizwanto */
.bar a {
  font-size: 2rem;
}
.box-search {
  width: 300px;
  max-width: 100%;
  position: relative;
}
.box-search form input {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid white;
  border-radius: 30px;
}
.box-search form span {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #0f4d6e;
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: 6px;
  right: 6px;
}

.bi-list {
  display: none;

  color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.loker {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  /* background-color: #3c8fa3; */
}
.heading h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #0f4d6e;
}
.container {
  margin: 0 auto;
  text-align: center;
  /* float: left; */
  /* display: flex; */
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;

  /* background-color: blue; */
}
.card {
  /* background-color: red; */
  width: 20%;
  float: left;
  /* display: grid; */
  height: 500px;
  padding: 10px;
  cursor: pointer;

  transition: 0.5s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}

.lessons {
  margin: 0 auto;
  height: 450px;
  padding: 10px;
  /* background-color: yellowgreen; */
  border-radius: 10px;
  box-shadow: -2px 1px 12px rgba(0, 0, 0, 0.3);
}
.lesson-icon {
  display: flex;
  margin: 0 auto;
  height: 200px;
  width: 150px;
  /* background-color: blue; */
  justify-content: center;
  align-items: center;
}
.lesson-icon img {
  width: 100%;
  /* background-color: red; */
}
.lessons a {
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  color: #0f4d6e;
  /* background-color: purple; */
}
.left-text {
  text-align: left;
  font-size: 12px;

  /* background-color: red; */
}
.left-text h2 {
  opacity: 50%;
  color: #0f4d6e;
  height: 50px;
  font-size: 16px;
}
.left-text p {
  font-size: 15px;
}
.left-text span {
  margin-right: 5px;
}
.left-text h3 {
  color: green;
  border-bottom: 2px solid #0f4d6e;
  width: 150px;
  padding-bottom: 10px;
}

/* end Rizwanto */

/* Mas Maiduri */

.container-2 {
  width: 100%;
}

footer {
  display: flex;
  position: relative;
  background-color: #56abd8;
  /* position: absolute; */
  width: 100%;
  bottom: 0;
  height: 250px;
  color: white;
}

.info {
  float: right;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  line-height: 40px;
  margin-right: 100px;
}

/* .logo {
  width: 50%;
  font-size: 30px;
  text-align: center;
} */
.footer-left .title {
  color: white;
  font-size: 35px;
  font-family: 'Poppins';
  /* font-style: bold; */
  font-weight: bold;
}
.footer-left .title span {
  color: #0f4d6e;
}

.footer-left {
  float: left;
  margin-left: 10px;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 30px;
  cursor: default;
}
.footer-list ul {
  flex-direction: column;
}
.footer-list li {
  cursor: pointer;
}

li {
  list-style: none;
}

.sosmed {
  margin-top: 20px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
/* End Maiduri */
